name: Release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'release tag'
        required: true

permissions:
  contents: read

jobs:
  release:
    outputs:
      hashes: ${{ steps.slsa.outputs.hashes }}
      image_url: ${{ steps.slsa.outputs.image_url }}
      image_digest: ${{ steps.slsa.outputs.image_digest }}
    runs-on: ubuntu-latest
    permissions:
      contents: write # for creating the GitHub release.
      id-token: write # for creating OIDC tokens for signing.
      packages: write # for pushing and signing container images.
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Flux CLI
        uses: fluxcd/flux2/action@bb9a119456aea08b4d3b04d99b49b4485c6d80f4 # v2.6.0
        with:
          version: 'v2.5.1'
      - name: Prepare
        id: prep
        run: |
          VERSION=${GITHUB_REF/refs\/tags\//}
          echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Generate images meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: |
            ghcr.io/coppersoft-dev/ecp-metrics-server
          tags: |
            type=raw,value=${{ steps.prep.outputs.VERSION }}
      - name: Build and push
        uses: docker/build-push-action@v6
        id: push
        with:
          context: "."
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
      - name: patch kustomization
        run: |
          yq -i '(.images[]|select(.name=="ghcr.io/coppersoft-dev/ecp-metrics-server").newTag)="${{ steps.prep.outputs.VERSION }}"' ./kustomize/kustomization.yaml
          yq -i '(.images[]|select(.name=="ghcr.io/coppersoft-dev/ecp-metrics-server").digest)="${{ steps.push.outputs.digest }}"' ./kustomize/kustomization.yaml
      - name: push OCI artifact
        run: |
          flux push artifact oci://ghcr.io/coppersoft-dev/manifests/ecp-metrics-server:${{ steps.prep.outputs.VERSION }} --path="./kustomize/" --source=$(git config --get remote.origin.url) --revision=${{ steps.prep.outputs.VERSION }}@sha1:$(git rev-parse HEAD)
